$blue : #29d9d5;
$black:#111;
$white:#fff;
$light-color:rgb(143, 142, 142);
$bg-color:#222;
$black-bg:rgba(17,17,17,.7);
$border:.1rem solid $blue;
$overlayBg:linear-gradient(rgba(0 0 0 / 60%));

$xSmallMedia:"(max-width:390px)";
$MobMedia:"(max-width:450px)";
$smallMedia:"(max-width:768px)";
$mediumMedia:"(max-width:992px)";
$LargeMedia:"(min-width:1200px)";